 /* NAVBAR  */
.nav-link {
    color:white;
    transition:all 0.5s;
}
.nav-link:hover{
    color:red;
}











    <!-- CAROUSEL -->
    <!-- SERVİCES -->
    <!-- PORTFOLLİO -->
    <!-- ABOUT US -->
    <!-- OUR TEAM -->
    <!-- LOGOS -->
    <!-- CONTACT US -->
    <!-- FOOTER -->